<h3>
    About
</h3>

<<<<<<< HEAD
<div class="container">
    <img src="~/Content/Images/self.jpg" style="width: 50%; text-align: center; display: inline-block;" class="img-responsive" />

    <p style="display:inline-block;vertical-align:top;padding-left:10px;">
        Scientist, Adventurer. <br />
        Seattle, WA. <br />
        Defeating evil robots in an attempt to become supreme commander of the internets.
    </p>

</div>
=======
<div class="alignContainer">

    <div class="alignCell">
        <img src="~/Content/Images/self.jpg" class="img-responsive" style="width:100%"/>
    </div>
>>>>>>> Commit minor UI and structural changes

    <div class="alignCell" style="vertical-align: top; padding-left: 10px;">
        <p>
            Scientist, Adventurer. <br />
            Seattle, WA.
            <br /><br />
            I'm a web developer with a passion for clean, responsive, friendly user experience and an eye for design. I have an innate curiosity for all things technical and a tenacious attitude towards learning new technologies and processes.
            <br /><br />
            I keep busy out of the office as a cyclist, musician, volunteer, traveler, and outdoor explorer.
        </p>
    </div>
</div>
